:root {
  --sketch_background: black;
  --etch_color: white;
  --light_black: rgb(20,20,20);
  --darker_gray: rgb(40,40,40);
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--light_black);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  color: white;
  text-decoration: overline underline;
  padding-top: 1px;
}

button {
  background-color: white;
  border: none;
  border-radius: 3px;
  padding: 5px;
  min-width: 75px;
  border: 2px solid white;
  font-weight: 900;
}

button:hover {
  background-color: black;
  color: white;
}

.container {
  display: flex;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  width: 250px;
  gap: 15px;
  padding: 5px;
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  margin: auto;
}

.swatch {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

#background_swatch {
  background-color: var(--sketch_background);
}

#etch_swatch {
  background-color: var(--etch_color);
}


#notes {
  display: flex;
  flex-direction: inherit;
  gap: 7px;
}

.column {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.etched {
  background-color: var(--etch_color);
}

.sketch-frame {
  height: 800px;
  width: 800px;
  border-width: 10px;
  border-color: white gray var(--darker_gray) gray;
  border-style: solid;
  background-color: var(--sketch_background);
}